*{
    border: 0;
    margin: 0;
}
.background{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(15px);
}
#backimg{
    height: 100%;
    width: 100%;
}

.container{
    height: 92vh;
    width: 50vh;
    min-width: 40vh;
    min-height: 80vh;
    
    background: rgb(31,30,30);
    background: radial-gradient(circle, rgba(31,30,30,1) 7%, rgba(134,134,134,1) 67%, rgba(74,74,74,1) 100%);
    top: 5vh;
    box-shadow: 2px 3px 8px rgb(11, 11, 11);
    /* box-shadow: 3px 2px 6pc black; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    

}
h2{
    font-size: 5vh;
    color: white;
    margin: 3vh;
    text-shadow: 3px 1px 2px black;
}
h3{
    color: white;
    margin: 3vh;
    font-size: 3vh;
    margin-top:0;
    text-shadow: 3px 1px 2px black;
}
.player{
    height: 7vh;
    width: 43vh;
    background-color: none;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.box{
    height: 45vh;
    width:45vh;
    min-width: 40vh;
    min-height: 40vh;
    border-radius: 2rem;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 6px black;
    background-image: url("astronomy-1867616_640.jpg");
    background-size: cover;
}
@keyframes dibyajit {
    from{

    }
    to{
        transform: rotate(360deg);
    }
    
}
.circle{
    height: 35vh;
    width: 35vh;
    background-color: red;
    border-radius: 9rem;
    border: 5px solid gray;
    background-image:url("painting-mountain-lake-with-mountain-background_188544-9126.avif");
    background-size: cover;
    align-items: center;

}
.hide{
    animation-play-state: running;
    
    animation: dibyajit 10s linear infinite ;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background: rgb(1,0,10);
    background: linear-gradient(90deg, rgba(1,0,10,1) 0%, rgba(9,9,121,1) 56%, rgba(2,1,15,1) 100%);
    
}

.but{
    height: 8.5vh;
    width: 20%;
    background-color: rgb(255, 254, 254);
    border-radius: 10rem;
    
}
.or{
    height: 8vh;
    width: 18%;
    padding: .15rem;
    background-color: rgb(255, 254, 254);
    border-radius: 10rem;
}

.player_progress{
    border-color: white;
    background-color: white;
    height: .6vh;
    width: 80%;
    border-radius: 3rem;
    margin-top: 1.5rem;
    position: relative;
}
.progress{
    background-color: black;
    border-radius: 3rem;
    height: 100%;
    width: 1%;
}
.music-time{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -25px;
}
#current_time,#duration{
    font-size: 2.5vh;
    color: white;
    text-shadow: 2px 3px 2px black;
}